**Udacity Data Engineering Capstone Project**<br/>
Avraam Marimpis <avraam.marimpis@gmail.com>, October 2020

- - -

# Imports

In [1]:
import sys
sys.path.append('config/')
sys.path.append('common/')

import logger
import config
import data as cnf_data
import aws_dwh
import preprocess_fn
import redshift

In [2]:
import pyspark
import pyspark.sql.functions as fn
import pyspark.sql.types as t

In [3]:
import psycopg2

In [4]:
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
log_handler = logger.get_logger(logger_name="model")

# Local AWS credentials and settings

In [6]:
dwh = aws_dwh.parse_dwh()

# Connect to Redshift

In [7]:
conn = psycopg2.connect(f"host={dwh['redshift']['host']} dbname=dev port=5439 user=awsuser password={dwh['redshift']['db_pass']}")

In [8]:
cur = conn.cursor()

# Declare UDFs

In [9]:
def run_ddl_query(query, print_query=True):
    """ A helper function to execute the given query. It supports error handling and verbose messages.
    
    This function is to be used only for INSERT, DELETE and CREATE statements.
    
    Parameters
    ----------
    query: string
        The SQL query to execute.
    """
    q = query
    
    if print_query:
        print(q)
    
    try:
        cur.execute(q)
    except Exception as err:
        log_handler.error(err)
        cur.execute("ROLLBACK;")
    conn.commit()

In [10]:
for udf, cmd in redshift.Redshift.UDFs.items():
    try:
        print(f"Declaring UDF \"{udf}\".")
        cur.execute(cmd)
    except Exception as err:
        print(err)

Declaring UDF "f_my_cast".

# Drop all tables

In [11]:
for tbl, cmd in redshift.Redshift.Drop.items():
    print(f"Dropping table \"{tbl}\".")
    run_ddl_query(cmd)

Dropping table "stage_wildfires".

            DROP TABLE IF EXISTS public.stage_wildfires;

Dropping table "stage_airquality".

            DROP TABLE IF EXISTS public.stage_airquality;

Dropping table "stage_temperatures".

            DROP TABLE IF EXISTS public.stage_temperatures;

Dropping table "stage_droughts".

            DROP TABLE IF EXISTS public.stage_droughts;

Dropping table "states_abbrv".

            DROP TABLE IF EXISTS public.states_abbrv;

Dropping table "states_counties".

            DROP TABLE IF EXISTS public.states_counties CASCADE;

Dropping table "fips".

            DROP TABLE IF EXISTS public.fips CASCADE;

Dropping table "wildfires".

            DROP TABLE IF EXISTS public.wildfires;

Dropping table "droughts".

            DROP TABLE IF EXISTS public.droughts;

Dropping table "temperatures".

            DROP TABLE IF EXISTS public.temperatures;

# Create tables

## Staging Table "Wildfires"

table name: `stage_wildfires`

In [12]:
q = redshift.Redshift.Create['stage_wildfires']

In [13]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.stage_wildfires (
                OBJECTID                 VARCHAR(256),
                FOD_ID                   VARCHAR(256),
                FPA_ID                   VARCHAR(256),
                FIRE_YEAR                VARCHAR(256),
                DISCOVERY_DOY            VARCHAR(256),
                DISCOVERY_TIME           VARCHAR(256),
                STAT_CAUSE_CODE          VARCHAR(256),
                STAT_CAUSE_DESCR         VARCHAR(256),
                CONT_DOY                 VARCHAR(256),
                CONT_TIME                VARCHAR(256),
                FIRE_SIZE                VARCHAR(256),
                FIRE_SIZE_CLASS          VARCHAR(256),
                STATE                    VARCHAR(256),
                COUNTY                   VARCHAR(256),
                FIPS_CODE                VARCHAR(256),
                FIPS_NAME                VARCHAR(256),
                DISCOVERY_DATE_converted VARCHAR(256),
                CONT_DATE_converted      VARCHAR(256),
                part_year                VARCHAR(256),
                part_month               VARCHAR(256)
            );

## Staging Table "Air Quality"
table name: `stage_airquality`

In [14]:
q = redshift.Redshift.Create['stage_airquality']

In [15]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.stage_airquality (
                state_code          VARCHAR,
                county_code         VARCHAR,
                site_num            VARCHAR,
                parameter_code      INTEGER,
                poc                 INTEGER,
                latitude            FLOAT,
                longitude           FLOAT,
                datum               VARCHAR,
                parameter_name      VARCHAR,
                sample_duration     VARCHAR,
                pollutant_standard  VARCHAR,
                date_local          VARCHAR,
                units_of_measure    VARCHAR,
                event_type          VARCHAR,
                observation_count   INTEGER,
                observation_percent INTEGER,
                arithmetic_mean     FLOAT,
                first_max_value     FLOAT,
                first_max_hour      INTEGER,
                aqi                 INTEGER,
                method_code         INTEGER,
                method_name         VARCHAR,
                local_site_name     VARCHAR,
                address             VARCHAR,
                state_name          VARCHAR,
                county_name         VARCHAR,
                city_name           VARCHAR,
                cbsa_name           VARCHAR,
                date_of_last_change VARCHAR,
                part_year           INTEGER,
                part_month          INTEGER
            );

### Staging Table "Droughts"

In [16]:
q = redshift.Redshift.Create['stage_droughts']

In [17]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.stage_droughts (
                releaseDate    VARCHAR,
                FIPS           VARCHAR,
                county         VARCHAR,
                state          VARCHAR,
                NONE           FLOAT,
                D0             FLOAT,
                D1             FLOAT,
                D2             FLOAT,
                D3             FLOAT,
                D4             FLOAT,
                validStart     VARCHAR,
                validEnd       VARCHAR,
                county_cleaned VARCHAR,
                part_year      INTEGER,
                part_month     INTEGER
            );

### Staging Table "Temperatures"

In [18]:
q = redshift.Redshift.Create['stage_temperatures']

In [19]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.stage_temperatures (
                dt                            VARCHAR,
                AverageTemperature            FLOAT,
                AverageTemperatureUncertainty FLOAT,
                State                         VARCHAR,
                AverageTemperature_imputed    FLOAT,
                part_year                     INTEGER,
                part_month                    INTEGER
            );

# Ingest and Stage

## Table Wildfires

In [20]:
stmt = redshift.Redshift.Stage['stage_wildfires']

bucket = f"{dwh['s3']['bucket-1']['name']}"
json = "part-00000-2457b28a-f8e7-49e8-a34e-4d8d41e9bf6e-c000.json"

q = stmt.format(
    bucket,
    json,
    dwh['aws']['access_key_id'], dwh['aws']['secret_access_key'], 
    bucket,
    dwh['aws']['region']
)

In [21]:
run_ddl_query(q)

            COPY public.stage_wildfires FROM 's3://am-capstone-bucket-1/wildfires/part-00000-2457b28a-f8e7-49e8-a34e-4d8d41e9bf6e-c000.json'
            ACCESS_KEY_ID 'AKIAXIBBBG5P43B5TWYV'
            SECRET_ACCESS_KEY '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'
            JSON 's3://am-capstone-bucket-1/json_paths/wildfires.json' COMPUPDATE OFF
            REGION 'eu-central-1';

## Table Air Quality

In [22]:
stmt = redshift.Redshift.Stage['stage_airquality']

bucket = f"{dwh['s3']['bucket-1']['name']}"
json = "part-00000-916aee51-cd33-4dc2-88ad-f0fb96d4d766-c000.json"

q = stmt.format(
    bucket,
    json,
    dwh['aws']['access_key_id'], dwh['aws']['secret_access_key'],
    bucket,
    dwh['aws']['region']
)

In [23]:
run_ddl_query(q)

            COPY public.stage_airquality FROM 's3://am-capstone-bucket-1/airquality/part-00000-916aee51-cd33-4dc2-88ad-f0fb96d4d766-c000.json'
            ACCESS_KEY_ID 'AKIAXIBBBG5P43B5TWYV' SECRET_ACCESS_KEY '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'
            JSON 's3://am-capstone-bucket-1/json_paths/airquality.json' COMPUPDATE OFF
            REGION 'eu-central-1';

## Table Droughts

In [24]:
stmt = redshift.Redshift.Stage['stage_droughts']

bucket = f"{dwh['s3']['bucket-1']['name']}"
json = "part-00000-5923827d-34e5-49f0-bb14-6a57a0e45c13-c000.json"

q = stmt.format(
    bucket,
    json,
    dwh['aws']['access_key_id'], dwh['aws']['secret_access_key'],
    bucket,
    dwh['aws']['region']
)

In [25]:
run_ddl_query(q)

            COPY public.stage_droughts FROM 's3://am-capstone-bucket-1/droughts/part-00000-5923827d-34e5-49f0-bb14-6a57a0e45c13-c000.json'
            ACCESS_KEY_ID 'AKIAXIBBBG5P43B5TWYV'
            SECRET_ACCESS_KEY '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'
            JSON 's3://am-capstone-bucket-1/json_paths/droughts.json' COMPUPDATE OFF
            REGION 'eu-central-1';

## Table Temperatures

In [26]:
stmt = redshift.Redshift.Stage['stage_temperatures']

bucket = f"{dwh['s3']['bucket-1']['name']}"
json = "part-00000-a68ff967-8bc1-498a-9747-8702401efc06-c000.json"

q = stmt.format(
    bucket,
    json,
    dwh['aws']['access_key_id'], dwh['aws']['secret_access_key'], 
    bucket,
    dwh['aws']['region']
)

In [27]:
run_ddl_query(q)

            COPY public.stage_temperatures FROM 's3://am-capstone-bucket-1/temperatures/part-00000-a68ff967-8bc1-498a-9747-8702401efc06-c000.json'
            ACCESS_KEY_ID 'AKIAXIBBBG5P43B5TWYV' SECRET_ACCESS_KEY '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'
            JSON 's3://am-capstone-bucket-1/json_paths/temperatures.json' COMPUPDATE OFF
            REGION 'eu-central-1';

# Create facts and dimension tables

## Table FIPS
table name: `fips`

In [28]:
q = redshift.Redshift.Create['fips']

In [29]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS fips (
                index     INTEGER IDENTITY(0,1) PRIMARY KEY NOT NULL,
                fips_code INTEGER,
                fips_name VARCHAR
            );

## Table States Abbreviations 
table name: `states_abbr`

In [30]:
q = redshift.Redshift.Create['states_abbrv']

In [31]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.states_abbrv (
                index  INTEGER IDENTITY(0,1) PRIMARY KEY NOT NULL,
                state  VARCHAR,
                abbr   VARCHAR(2)
            );

## Table States and Counties
table name: `states_counties`

In [32]:
q = redshift.Redshift.Create['states_counties']

In [33]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS public.states_counties (
                index  INTEGER IDENTITY(0,1) PRIMARY KEY NOT NULL,
                state  VARCHAR(2),
                county VARCHAR
            );

## Table Wildfires
table name: `wildfires`

In [34]:
q = redshift.Redshift.Create['wildfires']

In [35]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS wildfires(
                OBJECTID          VARCHAR PRIMARY KEY NOT NULL,
                FOD_ID            VARCHAR,
                FPA_ID            VARCHAR,
                FIRE_YEAR         INTEGER,
                DISCOVERY_DOY     INTEGER,
                DISCOVERY_TIME    INTEGER,
                STAT_CAUSE_CODE   INTEGER,
                STAT_CAUSE_DESCR  VARCHAR,
                CONT_DOY          INTEGER,
                CONT_TIME         INTEGER,
                FIRE_SIZE         FLOAT,
                FIRE_SIZE_CLASS   VARCHAR(1),
                STATE_COUNTY      INTEGER REFERENCES public.states_counties(index),
                FIPS_ID           INTEGER REFERENCES public.fips(index),
                DISCOVERY_DATE    DATE,
                CONT_DATE         DATE
            );

## Table Airquality

In [36]:
q = redshift.Redshift.Create['airquality']

In [37]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS airquality(
                STATE_COUNTY      INTEGER REFERENCES public.states_counties(index),
                city_name         VARCHAR,
                aqi                 INTEGER,
                date_of_last_change DATE
            );

## Table Droughts

In [38]:
q = redshift.Redshift.Create['droughts']

In [39]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS droughts(
                releaseDate  DATE,
                FIPS_ID      INTEGER REFERENCES public.fips(index),
                STATE_COUNTY INTEGER REFERENCES public.states_counties(index),
                None         FLOAT,
                D0           FLOAT,
                D1           FLOAT,
                D2           FLOAT,
                D3           FLOAT,
                D4           FLOAT,
                validStart   DATE,
                validEnd     DATE
            );

## Table Temperatures

In [40]:
q = redshift.Redshift.Create['temperatures']

In [41]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS temperatures(
                    dt                 DATE,
                    State              VARCHAR,
                    AverageTemperature FLOAT
            );

## Table Annual Reports
table name: `annual_reports`

In [42]:
q = redshift.Redshift.Create['annual_reports']

In [43]:
run_ddl_query(q)

            CREATE TABLE IF NOT EXISTS annual_reports (
                state       VARCHAR,
                year        INTEGER,
                aqi         INTEGER,
                temperature FLOAT,
                wildfires   INTEGER,
                droughts    FLOAT
            );

# Load Data

## to FIPS

In [44]:
q = redshift.Redshift.Insert['fips1']

In [45]:
run_ddl_query(q)

            INSERT INTO public.fips (fips_code, fips_name)
            SELECT
                DISTINCT CAST(FIPS_CODE AS INTEGER),
                FIPS_NAME
            FROM
                public.stage_wildfires;

In [46]:
q = redshift.Redshift.Insert['fips2']

In [47]:
run_ddl_query(q)

            INSERT INTO public.fips (fips_code, fips_name)
            SELECT
                DISTINCT CAST(fips AS INTEGER),
                CONCAT(CONCAT(COUNTY, '-'), STATE)
            FROM
                public.stage_droughts;

## to States Abbreviations

In [48]:
q = redshift.Redshift.Insert['states_abbrv']

In [49]:
run_ddl_query(q)

            INSERT INTO public.states_abbrv (state, abbr) VALUES
                ('Alabama', 'AL'),
                ('Alaska', 'AK'),
                ('Arizona', 'AZ'),
                ('Arkansas', 'AR'),
                ('California', 'CA'),
                ('Colorado', 'CO'),
                ('Connecticut', 'CT'),
                ('Delaware', 'DE'),
                ('Florida', 'FL'),
                ('Georgia', 'GA'),
                ('Hawaii', 'HI'),
                ('Idaho', 'ID'),
                ('Illinois', 'IL'),
                ('Indiana', 'IN'),
                ('Iowa', 'IA'),
                ('Kansas', 'KS'),
                ('Kentucky', 'KY'),
                ('Louisiana', 'LA'),
                ('Maine', 'ME'),
                ('Maryland', 'MD'),
                ('Massachusetts', 'MA'),
                ('Michigan', 'MI'),
                ('Minnesota', 'MN'),
                ('Mississippi', 'MS'),
                ('Missouri', 'MO'),
                ('Montana', 'MT'),
                ('Nebraska', 'NE'),
                ('Nevada', 'NV'),
                ('New Hampshire', 'NH'),
                ('New Jersey', 'NJ'),
                ('New Mexico', 'NM'),
                ('New York', 'NY'),
                ('North Carolina', 'NC'),
                ('North Dakota', 'ND'),
                ('Ohio', 'OH'),
                ('Oklahoma', 'OK'),
                ('Oregon', 'OR'),
                ('Pennsylvania', 'PA'),
                ('Rhode Island', 'RI'),
                ('South Carolina', 'SC'),
                ('South Dakota', 'SD'),
                ('Tennessee', 'TN'),
                ('Texas', 'TX'),
                ('Utah', 'UT'),
                ('Vermont', 'VT'),
                ('Virginia', 'VA'),
                ('Washington', 'WA'),
                ('West Virginia', 'WV'),
                ('Wisconsin', 'WI'),
                ('Wyoming', 'WY'),
                ('District of  Columbia', 'DC'),
                ('Marshall Islands', 'MH');

## to States and Counties

In [50]:
q = redshift.Redshift.Insert['states_counties']

In [51]:
run_ddl_query(q)

            INSERT INTO public.states_counties (state, county)
            SELECT
                DISTINCT state,
                county
            FROM
                stage_wildfires;

## to Wildfires

In [52]:
q = redshift.Redshift.Insert['wildfires']

In [53]:
run_ddl_query(q)

            INSERT INTO public.wildfires(
                OBJECTID, FOD_ID, FPA_ID, FIRE_YEAR, DISCOVERY_DOY, DISCOVERY_TIME, STAT_CAUSE_CODE, STAT_CAUSE_DESCR, CONT_DOY, CONT_TIME, FIRE_SIZE, FIRE_SIZE_CLASS, STATE_COUNTY, FIPS_ID, DISCOVERY_DATE, CONT_DATE
            )
            WITH
                FIPS_ID as (SELECT * FROM public.fips),
                STATES_COUNTIES_ID as (SELECT * FROM public.states_counties)
            SELECT
                OBJECTID,
                FOD_ID,
                FPA_ID,
                CAST(FIRE_YEAR AS INTEGER),
                CAST(DISCOVERY_DOY AS INTEGER),
                f_my_cast(DISCOVERY_TIME),
                CAST(STAT_CAUSE_CODE AS INTEGER),
                STAT_CAUSE_DESCR,
                f_my_cast(CONT_DOY),
                f_my_cast(CONT_TIME),
                CAST(FIRE_SIZE AS FLOAT),
                FIRE_SIZE_CLASS,
                FIPS_ID.index,
                STATES_COUNTIES_ID.index,
                CAST(DISCOVERY_DATE_converted AS DATE),
                CAST(CONT_DATE_converted AS DATE)
            FROM
                public.stage_wildfires,
                FIPS_ID,
                STATES_COUNTIES_ID
            WHERE
                FIPS_ID.fips_code = CAST(stage_wildfires.FIPS_CODE AS INTEGER) AND
                FIPS_ID.fips_name = stage_wildfires.FIPS_NAME AND
                STATES_COUNTIES_ID.state = stage_wildfires.state AND
                STATES_COUNTIES_ID.county = stage_wildfires.county;

## to Temperatures

In [54]:
q = redshift.Redshift.Insert['temperatures']

In [55]:
run_ddl_query(q)

            INSERT INTO public.temperatures (dt, State, AverageTemperature)
            SELECT
                CAST(dt AS DATE),
                State,
                AverageTemperature_imputed
            FROM
                public.stage_temperatures;

## to Droughts

In [56]:
q = redshift.Redshift.Insert['droughts']

In [57]:
run_ddl_query(q)

            INSERT INTO public.droughts(
                releaseDate, FIPS_ID, STATE_COUNTY, None, D0, D1, D2, D3, D4, validStart, validEnd
            )
            WITH
                FIPS_ID as (SELECT * FROM public.fips),
                STATES_COUNTIES_ID as (SELECT * FROM public.states_counties)
            SELECT
                CAST(releaseDate AS DATE),
                FIPS_ID.index,
                STATES_COUNTIES_ID.index,
                NONE,
                D0,
                D1,
                D2,
                D3,
                D4,
                CAST(validStart AS DATE),
                CAST(validEnd AS DATE)
            FROM
                public.stage_droughts,
                FIPS_ID,
                STATES_COUNTIES_ID
            WHERE
                FIPS_ID.fips_code = CAST(stage_droughts.fips AS INTEGER) AND
                FIPS_ID.fips_name = CONCAT(CONCAT(stage_droughts.COUNTY, '-'), stage_droughts.STATE) AND
                STATES_COUNTIES_ID.state = stage_droughts.state AND
                STATES_COUNTIES_ID.county = stage_droughts.county_cleaned;

## to Airquality

In [58]:
q = redshift.Redshift.Insert['airquality']

In [59]:
run_ddl_query(q)

            -- we need to resolve the "State" column from staging table "stage_airquality"
            -- into an abbreviation. that's where the table "states_abbrv" comes in!
            INSERT INTO public.airquality (
                STATE_COUNTY, city_name, aqi, date_of_last_change
            )
            WITH
                STATES_ABBRV AS (SELECT * FROM public.states_abbrv),
                STATES_COUNTIES_ID AS (SELECT * FROM public.states_counties)
            SELECT
              STATES_COUNTIES_ID.index,
              public.stage_airquality.city_name,
              public.stage_airquality.aqi,
              CAST(public.stage_airquality.date_of_last_change AS DATE)
            FROM
                public.stage_airquality,
                STATES_COUNTIES_ID,
                STATES_ABBRV
            WHERE
                STATES_ABBRV.state = public.stage_airquality.state_name AND
                STATES_COUNTIES_ID.state = 	STATES_ABBRV.abbr  AND
                STATES_COUNTIES_ID.county = public.stage_airquality.county_name;

## to Annual Reports

this is a fact table

In [60]:
q = redshift.Redshift.Insert['annual_reports']

In [61]:
run_ddl_query(q)

            INSERT INTO public.annual_reports (state, year, aqi, temperature, wildfires, droughts)
            WITH states_counties_index AS
            (
                SELECT
                    *
                FROM
                    states_counties
            )
            ,
            states_abbrv AS
            (
                SELECT
                    *
                FROM
                    states_abbrv
            )
            ,
            yearly_aqi AS
            (
                SELECT
                    SC_IDX.state,
                    DATE_PART_YEAR(AQI.date_of_last_change) AS year,
                    AVG(AQI.aqi) AS AVG_AQ
                FROM
                    airquality AS AQI,
                    states_counties_index AS SC_IDX
                WHERE
                    SC_IDX.index = AQI.STATE_COUNTY
                GROUP BY
                    SC_IDX.state,
                    year
            )
            ,
            yearly_temperatures AS
            (
                SELECT
                    states_abbrv.abbr AS state_abbreviated,
                    DATE_PART_YEAR(dt) AS year,
                    AVG(averagetemperature) AS avg_temp
                FROM
                    temperatures,
                    states_abbrv
                WHERE
                    states_abbrv.state = temperatures.state
                GROUP BY
                    state_abbreviated,
                    year
                ORDER BY
                    state_abbreviated,
                    year
            )
            ,
            yearly_wildfires AS
            (
                SELECT
                    SC_IDX.state AS state,
                    FIRE_YEAR,
                    COUNT(*) AS total
                FROM
                    wildfires AS WF,
                    states_counties_index AS SC_IDX
                WHERE
                    SC_IDX.index = WF.STATE_COUNTY
                GROUP BY
                    SC_IDX.state,
                    FIRE_YEAR
                ORDER BY
                    SC_IDX.state ASC,
                    FIRE_YEAR ASC
            )
            ,
            yearly_droughts AS
            (
                SELECT
                    SC_IDX.state,
                    DATE_PART_YEAR(releasedate) AS year,
                    AVG(GREATEST(NONE, D0, D1, D2, D3, D4)) AS avg_drought_coeff
                FROM
                    droughts,
                    states_counties_index AS SC_IDX
                WHERE
                    SC_IDX.index = droughts.STATE_COUNTY
                GROUP BY
                    SC_IDX.state,
                    year
                ORDER BY
                    SC_IDX.state ASC,
                    year ASC
            )
            SELECT
                yearly_aqi.state,
                yearly_aqi.year,
                yearly_aqi.avg_aq,
                yearly_temperatures.avg_temp,
                yearly_wildfires.total,
                yearly_droughts.avg_drought_coeff
            FROM
                yearly_aqi
                JOIN
                    yearly_temperatures
                    ON yearly_aqi.state = yearly_temperatures.state_abbreviated
                    AND yearly_aqi.year = yearly_temperatures.year
                JOIN
                    yearly_wildfires
                    ON yearly_aqi.state = yearly_wildfires.state
                    AND yearly_aqi.year = yearly_wildfires.FIRE_YEAR
                JOIN
                    yearly_droughts
                    ON yearly_aqi.state = yearly_droughts.state
                    AND yearly_aqi.year = yearly_droughts.year
            ORDER BY
                yearly_aqi.state ASC,
                yearly_aqi.year ASC

# Clean up

In [62]:
cur.close()
conn.close()